server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/realtor-connect-app/rc-config.git
          clone-on-start: true
          default-label: main
          search-paths:
            - "{profile}"
